<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseVersion</key>
	<string>1.0</string>
	<key>DiffPackType</key>
	<string>UserEdit</string>
	<key>DocumentType</key>
	<string>PlaygroundBook</string>
	<key>Name</key>
	<string>com.apple.thiago.artificialInteligence</string>
	<key>UpdateVersion</key>
	<string>1.0</string>
	<key>Updates</key>
	<dict>
		<key>Added</key>
		<array>
			<dict>
				<key>File</key>
				<string>Chapters/Chapter1.playgroundchapter/Pages/page1.playgroundpage/UserManifest.plist</string>
			</dict>
			<dict>
				<key>File</key>
				<string>Chapters/Chapter2.playgroundchapter/Pages/page1.playgroundpage/UserManifest.plist</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/UserModule.playgroundmodule/Sources/1.1-Cover.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/UserModule.playgroundmodule/Sources/1.2-AboutAI.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/UserModule.playgroundmodule/Sources/1.3-ExamplesOfAI.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/UserModule.playgroundmodule/Sources/2.1 - Training AI.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/UserModule.playgroundmodule/Sources/Object.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/UserModule.playgroundmodule/Sources/DraggableObject.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>Chapters/Chapter1.playgroundchapter/Pages/page2.playgroundpage/UserManifest.plist</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/UserModule.playgroundmodule/Sources/Button.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>Chapters/Chapter2.playgroundchapter/Pages/page2.playgroundpage/UserManifest.plist</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/UserModule.playgroundmodule/Sources/2.2 - AICommands.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>UserModules/UserModule.playgroundmodule/Sources/3.2 - Testing.swift</string>
			</dict>
			<dict>
				<key>File</key>
				<string>Chapters/Chapter3.playgroundchapter/Pages/page1.playgroundpage/UserManifest.plist</string>
			</dict>
			<dict>
				<key>File</key>
				<string>Chapters/Chapter3.playgroundchapter/Pages/page2.playgroundpage/UserManifest.plist</string>
			</dict>
		</array>
		<key>Modified</key>
		<array>
			<dict>
				<key>Diff</key>
				<string>Chapters/Chapter1.playgroundchapter/Pages/page1.playgroundpage/main.swift.delta</string>
				<key>File</key>
				<string>Chapters/Chapter1.playgroundchapter/Pages/page1.playgroundpage/main.swift</string>
			</dict>
			<dict>
				<key>Diff</key>
				<string>UserModules/UserModule.playgroundmodule/Sources/SharedCode.swift.delta</string>
				<key>File</key>
				<string>UserModules/UserModule.playgroundmodule/Sources/SharedCode.swift</string>
			</dict>
		</array>
		<key>Removed</key>
		<array/>
		<key>Replaced</key>
		<array/>
	</dict>
</dict>
</plist>
